{
	"extends": [
		"eslint:recommended",
		"defaults/configurations/google",
		"angular"
	],
	"env": {
		"browser": true,
		"jquery": true
	},
	"globals": {
		"app": true
	},
	"rules": {
		"angular/definedundefined": 1,
		"angular/module-getter": 0,
		"angular/module-setter": 0,
		"angular/no-digest": 1,
		"camelcase": 1,
		"default-case": 0,
		"dot-location": [1, "property"],
		"indent": [1, "tab"],
		"max-len": [1, 128, 4],
		"new-cap": 1,
		"newline-after-var": 0,
		"no-extend-native": 1,
		"no-mixed-spaces-and-tabs": 1,
		"quotes": 0
	}
}
