<div class="index-route ui container grid" style="font-size: 1.2em;">
	<div class="centered row">
		<div class="ui basic button">
			<a ui-sref="index" style="line-height: 1.5em;">ElasticAdminWeb {{Version.config.version}}</a>
		</div>
		<span class="ui icon input"
			ng-class="{'loading': loadingStatsIndices}">
			<input
				placeholder="http://localhost:9200"
				style="width: 20em;"
				ng-keyup="onElasticURLKeyup($event)"
				ng-model="Elastic.url"/>
			<i class="icon"></i>
		</span>
		<button class="ui blue button"
			hotkey="{'r': reloadStatsIndices}"
			hotkey-description="Reconnect elastic"
			ng-click="reloadStatsIndices()">Connect</button>
	</div>

	<elastic-indices></elastic-indices>
</div>
