.index-route .delete-index {
	cursor: pointer;
}

.index-route .delete-index:hover {
	color: red;
}

.index-route .ui.table thead th {
	cursor: pointer;
	-webkit-user-select: none;
}

.index-route .ui.message {
	padding: 0px;
}
