<div class="ui container grid">
	<div class="centered row">
		<div ng-if="!statsIndices.length && !loadingStatsIndices" class="ui eight wide column center aligned warning message">
			<div class="header" style="padding-top: 0.6em; padding-bottom: 0.6em;">Elastic info is not yet ready!</div>
		</div>
	</div>
	<div class="centered row">
		<div class="ui segment" style="min-height: 10em;">
			<table class="ui celled table">
				<thead>
					<tr>
						<th>Indices</th>
						<th>Shards</th>
						<th>Docs</th>
						<th>Size</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>{{statsIndices.length}}</td>
						<td>{{stats._shards.successful}}/{{stats._shards.total}}</td>
						<td>{{stats._all.total.docs.count | number}}</td>
						<td>{{stats._all.total.store.size_in_bytes | humanSize}}</td>
					</tr>
				</tbody>
			</table>
			<div class="ui fluid icon input">
				<input placeholder="Index Filter ..." ng-model="statsIndicesFilter"
					ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }"/>
				<i class="remove circle outline link icon"
					ng-click="statsIndicesFilter=''"></i>
			</div>
			<table class="ui celled table">
				<thead>
					<tr>
						<th ng-click="elasticIndices.setStatsIndicesOrderBy('index')">
							<span>Index</span>
							<i class="caret icon"
								ng-class="{
									'up': statsIndicesOrderBy === 'index',
									'down': statsIndicesOrderBy === '-index'
								}"></i>
						</th>
						<th ng-click="elasticIndices.setStatsIndicesOrderBy('docs')">
							<span>Docs</span>
							<i class="caret icon"
								ng-class="{
									'up': statsIndicesOrderBy === 'docs',
									'down': statsIndicesOrderBy === '-docs'
								}"></i>
						</th>
						<th ng-click="elasticIndices.setStatsIndicesOrderBy('size')">
							<span>Primary Size</span>
							<i class="caret icon"
								ng-class="{
									'up': statsIndicesOrderBy === 'size',
									'down': statsIndicesOrderBy === '-size'
								}"></i>
						</th>
						<th>Shards</th>
						<th>Replicas</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="idx in statsIndices | filter:statsIndicesFilter | orderBy:statsIndicesOrderBy track by $index">
						<td>
							<span>{{idx.index}}</span>
							<i class="delete-index remove circle outline icon"
								title="Delete index from elastic"
								ng-click="elasticIndices.deleteIndex(idx.index)"></i>
						</td>
						<td>{{idx.total.docs.count | number}}</td>
						<td>{{idx.primaries.store.size_in_bytes | humanSize}}</td>
						<td>{{idx.metadata.settings.index.number_of_shards}}</td>
						<td>
							<span class="ui transparent fluid input"
								ng-class="{
									'yellow message': idx.metadata.settings.index.number_of_replicas !== clusterState.metadata.indices[idx.index].settings.index.number_of_replicas
								}">
								<input
									ng-keyup="elasticIndices.onReplicaKeyup($event, idx, indexForm)"
									ng-model="idx.metadata.settings.index.number_of_replicas"/>
							</span>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="ui dimmer"
				ng-class="{'active': loadingStatsIndices}">
				<div class="ui large text loader">Loading</div>
			</div>
		</div>
	</div>
</div>
